.channel {
    display: block;
    text-decoration: none;
    background-color: rgb(57, 66, 87);
    color: white;
    padding: 5px;
    margin-bottom: 3px;
    transition: all 240ms;
}

.channel:hover {
    background-color: rgb(62, 60, 100);
}

.channel_message_param {
    background-color: rgb(67, 84, 98);
    padding: 2px;
}

.channel_message_param_input {
    width: 99.36%;
    border: 2px solid rgb(67, 84, 98);
    font-size: 15px;
    font-weight: 300;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: rgb(67, 84, 98);
    padding: 2px;
}

.SendButton {
    background-color: transparent;
    margin-top: 5px;
    border: none;
}

.SendButton:hover {
    border: none;
}