<html>
<head>

    <link href="https://fonts.googleapis.com/css?family=Ubuntu&display=swap" rel="stylesheet">
        <link href="css/css.css" rel="stylesheet">
    <style>
    </style>
    <script src="https://github.com/sorensen/ascii-table/blob/master/ascii-table.min.js"></script>

</head>


<body>
<center>
    <h1>CACHE STATUS: </h1>

        <% 
    global.client.commands.map(cmd => { 
        var table = new window.AsciiTable('A Title') %>
        table.setHeading('name', 'cache')
        table.addRow(cmd.name, JSON.stringify(cmd.cache))
        <h2><%= table.toString() %></h2>
    <% }) %>

    <%= '1233' %> 
</center>
    </body>

</html>