div {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
div.client {
    margin-left: 100px;
    padding: 20px;
    border-radius: 10px;
    color: #fff;
    font-weight: bold;
}

div.command-container {
    display: inline-flex;
    /* width: 70vh; */
}

div.command {
    background-color: #282C36;
    border-radius: 10px;
    padding: 0.6em 1.5em;
    font-size: 2em;
    margin-bottom: 5px;
    margin-left: 5px;
    transition: all 240ms;
}

div.command:hover {
    background-color: #252830;
}

.command_name {
    font-stretch: expanded;
    font-size: larger;
}